@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: godcraft;
  src: url(./assets/st.ttf);
}
/* @import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap'); */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Lexend"; */
    /* font-family: godcraft,sans-serif ; */
    
    /* font-weight: 100; */
}

.button{
  background: linear-gradient(to  top, #e270ff 25%,#a271fd );
}
.shop{
  background: linear-gradient(to  bottom left, #e270ff 40%,#a271fd );
  /* transform: translateX(-200%); */
}
/* .shop1{
  transform: translateX(-200%);
} */
.add{
  background: linear-gradient(to  bottom left, #e270ff,#a271fd );
  /* transform: translateX(-200%); */
}
.fonts{
  font-family: "Holtwood One SC";
}
.button2:hover{
  
  background: linear-gradient(to  top, #a271fd 25%,#e270ff );
}


::-webkit-scrollbar{
  background: #2d0a31;
  width: 10px;
}
::-webkit-scrollbar-thumb{
  background: linear-gradient(transparent,#cc71ff);
  border-radius: 500px;
  width: 10px;
  height: 200px;
  /* box-shadow: 0px 0px 10px #cc71ff; */
}
::-webkit-scrollbar-thumb:hover{
  background: linear-gradient(transparent,#d082fd);
}
.dd{
  font-family: godcraft;
}

.sh{
  text-shadow: 0px 5px  10px  #19001f;
}