@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: godcraft;
  src: url(./assets/st.ttf);
}
@font-face {
  font-family: godcraft22;
  src: url(./assets/);
  font-weight: 900;
}
/* @import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap'); */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Lexend"; */
    /* font-family: godcraft,sans-serif ; */
    
    font-weight: 100;
}

.button{
  background: linear-gradient(to  top, #e270ff 25%,#a271fd );
}
.shop{
  background: #4c1e51
  /* transform: translateX(-200%); */
}
.shop{
  /* background: #20dbfc4f; */
  /* backdrop-filter:  blur(5px) brightness(100%) contrast(95%); */
  border-radius: 50px 0px 50px 0px ;
}
/* .shop1{
  transform: translateX(-200%);
} */
.add{
  background: linear-gradient(to  bottom left, #e270ff,#a271fd );
  /* transform: translateX(-200%); */
}
.fonts{
  font-family: "Holtwood One SC";
}
.button2{
  transition: all 3s
}
.button2:hover{
  border: none;
  background: linear-gradient(to  top, #a271fd 25%,#e270ff );
}


::-webkit-scrollbar{
  background: #2d0a31;
  width: 10px;
}
::-webkit-scrollbar-thumb{
  background: linear-gradient(transparent,#cc71ff);
  border-radius: 500px;
  width: 10px;
  height: 200px;
  /* box-shadow: 0px 0px 10px #cc71ff; */
}
::-webkit-scrollbar-thumb:hover{
  background: linear-gradient(transparent,#d082fd);
}
.dd{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.sh{
  text-shadow: 0px 0px  5px  #7d179c;
}
.ss{
  text-shadow: 0px 0px  10px  #000000;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}